<!DOCTYPE html>
<html>
	<head>
		<title>enduro.js generator sample</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<style type="text/css"></style>
	</head>
	<body>
		<h1>Generator sample</h1>
		<a href="http://www.endurojs.com/docs/generators">Check out generator docs here</a>
		<br>
		<p>Generators are pages</p>
		<p>These three pages are generators:</p>
		<ul>
			<li><a href="/sample_generator/page1">page1</a></li>
			<li><a href="/sample_generator/page2">page2</a></li>
			<li><a href="/sample_generator/page3">page3</a></li>
		</ul>
	</body>
</html>