<div class="form-control \{{size}} control-simplemde" en-textarea>
	<label>
		<span>\{{formated_key}}</span>
		<textarea marked ng-model="context[terminatedkey]" ng-bind="current_culture"></textarea>
	</label>
</div>
