<!DOCTYPE html>
<html>
	<head>
		<title>enduro brick demo</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
		<style type="text/css"></style>
	</head>
	<body>
		{{content}}
	</body>

</html>